<header id="header">
	<div class="d-flex flex-column">
		<div class="row pd_t10">
			<h1 class="font_white">Bee's Archive</h1>
		</div>
		<div class="profile">
			<img src="/assets/img/profile-img.gif" alt="" class="img-fluid rounded-circle">
			<h1 class="text-light"><a href="index.html">Kill Bee</a></h1>
			<div class="social-links mt-3 text-center row">
				<!--          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
				<!--          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
				<!--          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
				<!--          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
				<!--          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
				<!--			<div class="col-lg-10 mx-auto">
				<p style="color: #a8a9b4;">초보개발자의<br>공부하면서 배운것을<br> 저장하는 곳입니다.</p>
			</div>-->
			</div>
		</div>
		<nav id="navbar" class="nav-menu navbar">
			<ul>
				<li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
			</ul>
		</nav><!-- .nav-menu -->

		<div id='calendar'></div>
	</div>
</header><!-- End Header -->